* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
body {
    display: flex;
    background-color: rgb(198, 130, 236);
    width: 98vw;
    height: 98vh;
}
main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(41, 40, 40);
}

h1, h2 {
    font-size: 1.8em;
    text-align: center;
}

iframe {
    width: 500px;
    height: 300px;
}